@model List<Odigo.Model.Model.QuickLink>
    @using Odigo.Model.Model;

    <div class="table-responsive ">
    <table class="table grid-table side-list admin-accordion">
        @foreach (QuickLink quickLink in Model)
            {
            <tr>
                <td>
                    <a href="@quickLink.Url" target="_blank">@quickLink.Name</a>
                </td>
            </tr>
        }
    </table>
</div>



