@model int?

@*@if (ViewBag.IsIndex != null && ViewBag.IsIndex == true)
{     
    <div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Create New", "Create")

                <div class="pull-right record-count-label">
                    <span class="caption">Record Count</span><span class="badge">@Model</span>
                </div>
            </div>
        </div>
    </div>
}*@

@*<hr class="no-top-padding" />*@
