
.admin-accordion a {
    text-decoration: none;
    color: GrayText;
}
.admin-accordion li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 7px 0 7px 15px;
    border-bottom: solid 1px #ecf0f1;
    font-size: 14px;
}
.admin-accordion li:last-child {
        border-bottom: none;
}
.admin-accordion ul {
    padding: 0;
    margin: 0;
}
.admin-accordion a:hover, .admin-accordion a.active {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.main .panel-title a {
    text-decoration: none;
}
.main .fa {
    margin-right: 10px;
}
.main .panel-body .fa {
    margin-right: 10px;
}
.main .panel-body {
    padding: 0;
    margin: 0;
}

#viewContainer {
    /*margin: 10px 0 10px 0;*/
    border-radius: 2px;
}
.page-content .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}
